<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-label><h2>Estadísticas</h2></ion-label>
      <ion-button (click)="logout()" color="secondary">
        Salir
        <ion-icon name="exit-outline" slot="end" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <!-- Gastos vs Ingresos Anualizados  -->
    <ion-list-header>
      <h1>Gastos vs Ingresos Anualizados</h1>
    </ion-list-header>
    <ion-item>
      <chart [type]="typeAnual" [data]="dataAnual" [options]="optionsAnual"></chart>
    </ion-item>

    <!-- Gastos por Categoría  -->
    <ion-list-header>
      <h1>Gastos por Categoría</h1>
    </ion-list-header>  
    <ion-item class="item">
      <chart [type]="typeGastos" [data]="dataGastos" [options]="optionsGastos"></chart>
    </ion-item>  


</ion-content>
