<ion-content fullscreen color="">
  <div class="form-login">

    <ion-toolbar color="">
      <ion-title class="ion-text-center">
        <h1>Bienvenid@</h1>
      </ion-title>
    </ion-toolbar>
    <br>

    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="person-outline"></ion-icon> Usuarios Precargados</ion-label>
      <br>
      <ion-select interface="popover" [(ngModel)]="loginData" (ionChange)="onChange($event)"> 
        <ion-select-option *ngFor="let login of loginsMock" [value]="login">{{login.email}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="mail-outline"></ion-icon> Email</ion-label><br>
      <ion-input type="text" name="email" [(ngModel)]="loginData.email"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-start ion-padding-end" color="">
      <ion-label position= "floating"><ion-icon  name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="loginData.pass"></ion-input>
    </ion-item>
    <br>

    <p class="ion-padding-start ion-padding-end" > 
      <ion-button type="ion-button" expand="block" color="" (click)="clickLogin()" >Ingresar</ion-button>
    </p>
    <small class="ion-padding-start ion-padding-end"><a href="/register">¿Todavía no te registraste?</a></small>
  </div>
</ion-content>