.form-login{
    margin-top: 0rem;
    font-family: helvetica;
    margin-left: 1rem;
    margin-right: 1rem;  
}

.form-login ion-item{
    margin-bottom: 1rem;
}

.btn-register{
    height: 5rem;    
    margin-top: 1rem;
    font-size:x-large;
    //background-color: thistle;
}

.btn-login{
    height: 10rem;  
    margin-bottom: 0rem;  
    font-size:xx-large;
    //background-color: slateblue;
}
.form-login label{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.form-login input{
    //margin-top: 2rem;
    border-radius: 1rem;
    font-family: helvetica;
}

.form-login label{
    color: black;
}

.error-input-message{
    color:#eb445a;    
    margin-bottom: 0%; 
}

.form-login button{
    margin-bottom: 0rem;
    width: 100%;    
}





.btn-user{
    height: 1.8rem;    
    width: 45% !important;
    margin: 0.5rem;
    font-size:small;
    //background-color: salmon;
}

