<ion-content fullscreen color="dark">
  <ion-toolbar color="" class="mt-3">
        <button type="button" expand="block" color="secondary" class="btn-user btn btn-secondary boton_1" (click)="fillLogin(0)">Administrador</button>        
        <button type="button" expand="block" color="secondary" class="btn-user btn btn-secondary boton_1" (click)="fillLogin(1)">Invitado</button>        
        <button type="button" expand="block" color="secondary" class="btn-user btn btn-secondary boton_1" (click)="fillLogin(2)">Usuario 1</button> 
        <button type="button" expand="block" color="secondary" class="btn-user btn btn-secondary boton_1" (click)="fillLogin(2)">Usuario 2</button>       
        <button type="button" expand="block" color="secondary" class="btn-user btn btn-secondary boton_1" (click)="fillLogin(3)">Anónimo</button>      
        <button type="button" expand="block" color="secondary" class="btn-user btn btn-secondary boton_1" (click)="fillLogin(4)">Tester</button>
  </ion-toolbar>
<br>
  <div class="form-login">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="clickLogin()">    
        <div class="">
          <label for="floatingInput">Correo electrónico:</label>
          <input type="email" class="form-control " id="floatingInput" placeholder="nombre@ejemplo.com" formControlName="email" 
          [(ngModel)]="loginData.email">
        </div>
        <div class="error-input-message" *ngIf="getEmailControl().invalid && getEmailControl().touched">
          <small class="ion-padding-start ion-padding-end" *ngIf="getEmailControl().errors?.required">Campo obligatorio</small>
          <small class="ion-padding-start ion-padding-end" *ngIf="getEmailControl().errors?.email">Formato incorrecto</small>
        </div>
        <br>

        <div class="">
          <label for="floatingInput2">Contraseña:</label>
          <input type="password" class="form-control " id="floatingInput2" placeholder="" formControlName="pass" 
          [(ngModel)]="loginData.pass">
          
        </div>
        <div class="error-input-message" *ngIf="getPassControl().invalid && getPassControl().touched">
          <small class="ion-padding-start ion-padding-end" *ngIf="getPassControl().errors.required">Campo obligatorio</small>
          <small class="ion-padding-start ion-padding-end" *ngIf="getPassControl().errors.minlength">Mínimo 6 caracteres</small>          
        </div>     
        <br>
        
        <button type="submit" expand="block" class="btn-login btn btn-success boton_1" [disabled]="loginForm.invalid">Ingresar</button>
        <button type="button" expand="block" class="btn-register btn btn-info boton_1" (click)="goToRegister()">Registrarse</button>
      </form>                                    
          
        
          
  </div>
</ion-content>