<ion-header color="dark">
  <ion-toolbar>
    <ion-item color="dark">
      <ion-label><h2>Configuración del Mes</h2></ion-label>
      <ion-button (click)="logout()" color="secondary">
        Salir
        <ion-icon name="exit-outline" slot="end" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-list color="dark">
    <!-- Mes actual  -->
    <ion-list-header color="dark">
      <h3>Mes a configurar</h3>
    </ion-list-header>
    <ion-item class="item" color="dark">
      <ion-icon name="calendar-outline" slot="end"></ion-icon>      
      <ion-datetime 
        displayFormat="MMMM YYYY" 
        [monthNames]="meses" 
        min="2021-01-01" 
        max="2021-12-30"        
        [(ngModel)]="currentMonth.fechaCompleta"                
        [pickerOptions]="customPickerOptions"
        [disabled]="noEditar"
        ></ion-datetime>
    </ion-item>

    <!-- Ingreso Mensual  -->
    <ion-item color="dark">
      <ion-label>Ingreso mensual</ion-label>
      <ion-icon name="pencil-outline" slot="end" *ngIf="isUpdate" (click)="editIngreso()"></ion-icon>
    </ion-item>
    <form [formGroup]="Form">
      <ion-item class="item" color="dark">
        <ion-label position="fixed"><h1>$</h1></ion-label>
        <ion-icon name="cash-outline" slot="end"></ion-icon>      
        <ion-input 
          type="number"
          [(ngModel)]="currentMonth.ingreso" 
          formControlName="ingresoCtrl"
          [disabled]="noEditarIngreso">
        </ion-input>
      </ion-item>
    </form>
    

    <!-- Umbral de gastos  -->
    <ion-item color="dark">
      <ion-label>Umbral de gastos: <span class="text-success">{{currentMonth.umbral}}</span></ion-label>
      <ion-icon name="pencil-outline" slot="end" *ngIf="isUpdate" (click)="editUmbral()"></ion-icon>
    </ion-item>
    <ion-item class="item" color="dark">            
      <ion-range 
        min="1" 
        max="100" 
        step="5" 
        [disabled]="noEditarUmbral"
        [(ngModel)]="currentMonth.umbral">
        <ion-icon size="small" slot="start" name="cart-outline"></ion-icon>
        <ion-icon size="large" slot="end" name="cart-outline"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>  

  <ion-list>

    <!-- Gasto  -->
    <ion-list-header color="dark">
      <h3>Cargar Gasto</h3>
    </ion-list-header>
    <form [formGroup]="FormGasto">
      <ion-item class="item" color="dark">
        <ion-label position="fixed"><h1>$</h1></ion-label>
        <ion-icon name="receipt-outline" slot="end"></ion-icon>    
        <ion-input 
          [disabled]="Form.invalid || !currentMonth.fechaCompleta"
          type="number"
          [(ngModel)]="gasto.gasto" 
          formControlName="gastoCtrl">
        </ion-input>
      </ion-item>

      <!-- Categorías  -->  
      <ion-item color="dark">
        <ion-label>Categoría</ion-label>
        <ion-select 
          placeholder="Seleccione una categoría"
          formControlName="categoriaCtrl"
          [(ngModel)]="gasto.categoria"
          [disabled]="Form.invalid || !currentMonth.fechaCompleta">
          <ion-select-option value="1">Ropa</ion-select-option>
          <ion-select-option value="2">Restaurantes</ion-select-option>
          <ion-select-option value="3">Entretenimiento</ion-select-option>
          <ion-select-option value="4">Alimento</ion-select-option>
          <ion-select-option value="5">Medicina</ion-select-option>
          <ion-select-option value="6">Impuestos</ion-select-option>
        </ion-select>
      </ion-item>
    </form>

  </ion-list>

  <ion-button 
    expand="full" 
    (click)="saveClick()" 
    [disabled]="disabledBtn()">
    Guardar
  </ion-button> 

</ion-content>
