.form-login{
    margin-top: 0rem;
    font-family: cursive !important;
    margin-left: 1rem;
    margin-right: 1rem;  
}

.form-login ion-item{
    margin-bottom: 1rem;
}

.form-login label{
    color: black;
}

.error-input-message{
    color:#eb445a;    
    margin-bottom: 0%; 
}

.form-login button{
    margin-bottom: 1rem;
  
    width: 100%;    
}

.btn-register{
    height: 4rem;    
}

.btn-login{
    height: 6rem;    
}

.btn-user{
    height: 1.8rem;    
    
}

