<!-- <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Personajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <ion-item>
      <ion-label position="stacked">Seleccinar Mes</ion-label>
      <ion-datetime 
        displayFormat="MMMM YYYY" 
        [monthNames]="meses" 
        min="2021-07-01" 
        max="2031-12-30" 
        value="2021-07-01"
        [pickerOptions]="customPickerOptions"
        ></ion-datetime>
    </ion-item>
    
  </ion-content>
</div> -->
<ion-tabs>

  <ion-tab tab="/login">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Music</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen class="ion-padding">
      <h1>Music</h1>
    </ion-content>
  </ion-tab>

  <ion-tab tab="movies">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Movies</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen class="ion-padding">
      <h1>Movies</h1>
    </ion-content>
  </ion-tab>

  <ion-tab tab="games">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Games</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen class="ion-padding">
      <h1>Games</h1>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="music">
      <ion-label>Music</ion-label>
      <ion-icon name="musical-note"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="movies">
      <ion-label>Movies</ion-label>
      <ion-icon name="videocam"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="games">
      <ion-label>Games</ion-label>
      <ion-icon name="game-controller"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>