.h-40{
    height: 40%;
}

button{
    font-size:10vh;
}

svg{
    margin-bottom: 1rem;
}



.bg-sala-a{
    background-image: url("../../../assets/pulgar-arriba.jpg") !important;
}

.bg-sala-b{
    background-image: url("../../../assets/pulgar-abajo.jpg") !important;
}