<ion-content fullscreen color="dark">
<div class="container">
  <div class="mt-3 div-temas">
    <div class="mb-2" style="display: flex;">
      <div class="col">
        <img [src]="espania" height="70px" width="100%">
      </div>
      <div class="col">
        <img [src]="pirata" height="70px" width="100%">
      </div>
      <div class="col">
        <img [src]="portugal" height="70px" width="100%">
      </div>
    </div>
    <div class="mb-1" style="display: flex;">
      <div class="col">
        <img [src]="animales" height="70px" width="100%">
      </div>
      <div class="col mr-0">
        <img [src]="colores" height="70px" width="100%">
      </div>
      <div class="col">
        <img [src]="numeros" height="70px" width="100%">
      </div>
    </div>
  </div>

  

</div>
</ion-content>