.btn-espania{
    background-image:url(../../../assets/bandera-gallegos.png);
    background-repeat:no-repeat;
    background-position:center; 
    height:100px;
    width:100px;
}

.btn-sel{
    height: 3rem;
    width: 100%;
}

.div-temas img{
    border-radius: 1rem;
}

.div-opciones button{
    border-radius: 1rem;
}

.img-option{
    height: 140px;
    width: 160px;
    border-radius: 1rem;
}