
.credito h1{
    font-size: 6rem; 
    margin-bottom: 14vh;
    margin-top: 14vh; 
}


.col-btn{    
    height: 25vh;
    font-size: 3rem;
}

.btn-logout{
    position: fixed;
    top: 23px;
    right: 1rem;    
}
