<ion-tabs color="dark"> 

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="config">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Carga Mensual</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="gastos">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="estadisticas">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
