<ion-content fullscreen color="">
  <div class="form-register">
    <ion-toolbar color="">
      <ion-title class="ion-text-center">
        <h1>Registrar Usuario</h1>
      </ion-title>
    </ion-toolbar>
    <br>

    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="person-outline"></ion-icon> Nombre</ion-label><br>
      <ion-input type="text" [(ngModel)]="registerData.nombre" name="title" required></ion-input>
    </ion-item>

    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="mail-outline"></ion-icon> Email</ion-label><br>
      <ion-input type="email" [(ngModel)]="registerData.loginData.email" name="title"></ion-input>
    </ion-item>

    <ion-item color="" class="ion-padding-start ion-padding-end" fill="outline">
      <ion-label position= "floating"><ion-icon name="male-female-outline"></ion-icon> Género</ion-label><br>
      <ion-select interface="popover">
        <ion-select-option value="1">Femenino</ion-select-option>
        <ion-select-option value="2">Masculino</ion-select-option>
        <ion-select-option value="3">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-padding-start ion-padding-end" color="">
      <ion-label position= "floating"><ion-icon name="lock-closed-outline"></ion-icon> Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="registerData.loginData.pass" name="title"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-start ion-padding-end" color="">
      <ion-label position= "floating"><ion-icon name="lock-closed-outline"></ion-icon> Confirmar Contraseña</ion-label>
      <ion-input type="password" name="title"></ion-input>
    </ion-item>
    <br>

    <p class="ion-padding-start ion-padding-end" > 
      <ion-button type="submit" expand="block" color="" (click)="registrarseClick()">Registrarse</ion-button>
    </p>
    <small class="ion-padding-start ion-padding-end"><a href="/login">¿Ya estás registrado?</a></small>
  </div>
</ion-content>
