<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Registro de Gastos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="accessibility-outline" slot="start"></ion-icon>
        <ion-label>Personajes</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ribbon-outline" slot="start"></ion-icon>
        <ion-label>Top 3</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
